[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "drlate"]
	path = drlate
	url = https://github.com/kvenkita/drlate
[submodule "mixqr"]
	path = mixqr
	url = https://github.com/kvenkita/mixqr
[submodule "rsdv"]
	path = rsdv
	url = https://github.com/kvenkita/rsdv
