[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bqmm"]
	path = bqmm
	url = https://github.com/kvenkita/bqmm
[submodule "drlate"]
	path = drlate
	url = https://github.com/kvenkita/drlate
[submodule "mixqr"]
	path = mixqr
	url = https://github.com/kvenkita/mixqr
[submodule "mixqrgate"]
	path = mixqrgate
	url = https://github.com/kvenkita/mixqrgate
[submodule "rsdv"]
	path = rsdv
	url = https://github.com/kvenkita/rsdv
